[submodule "Flare/vendor/spdlog"]
	path = Flare/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Flare/vendor/glfw"]
	path = Flare/vendor/glfw
	url = https://github.com/jumailj/glfw
	branch = flare
[submodule "Flare/vendor/imgui"]
	path = Flare/vendor/imgui
	url = git@github.com:jumailj/imgui.git
	branch = docking
[submodule "Flare/vendor/glm"]
	path = Flare/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Flare/vendor/yaml-cpp"]
	path = Flare/vendor/yaml-cpp
	url = https://github.com/jumailj/yaml-cpp
[submodule "Flare/vendor/nativefiledialog"]
	path = Flare/vendor/nativefiledialog
	url = https://github.com/jumailj/nativefiledialog-extended
[submodule "Flare/vendor/ImGuizmo"]
	path = Flare/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
