.codelite/
*Flare.workspace
*Flare.project

*Flare.txt
*Glad.txt
*Flare.mk


**.mk
**.project

#build folder
**bin/
**bin-int/
**.ctagsd/
**.build-debug/

**Flare/vendor/VulkanSDK/

# compiled  object files
*.slo
*.lo
*.o
*.obj 


Makefile