.codelite/
*Flare.workspace
*Flare.project

*Flare.txt
*Glad.txt
*Flare.mk


**.mk
**.project

#build folder
**bin/
**bin-int/
**.ctagsd/
**.build-debug/

**Flare/vendor/VulkanSDK/1.3.275.0
**Flare/vendor/VulkanSDK/VulKanSDK.tar.xz
**scripts/__pycache__
**scripts/flare

# compiled  object files
*.slo
*.lo
*.o
*.obj 


Makefile